<div>
  <div class="options-container">
    <div class="options-container">
      <div class="options">
        <a @click="$parent.back" class="btn btn-primary" title="Regresar">
          <img src="assets/img/back.png" width="35" />
        </a>
        <a @click="$parent.addZoom" class="btn btn-primary" title="Aumentar Zoom">
          <img src="assets/img/add.png" width="35" />
        </a>
        <a @click="$parent.lessZoom" class="btn btn-primary" title="Dismunuir Zoom">
          <img src="assets/img/less.png" width="35" />
        </a>
      </div>
    </div>
  </div>
  <div class="content">

    <div class="content-page">
      <div class="page-signature">
        <div class="files" v-for="(file, index) in $parent.selected" :key="file.id || index">
          <div class="content-document" v-html="file.html"></div>

          <!-- Decisión por documento (si aplica) -->
          <div class="fila-decision" v-if="file.requireDecision">
            <div class="group-buttons">
              <button type="button" class="btn-decision aprobar"
                :class="{ active: $parent.decisionTmp[file.id] === true }" @click="$parent.setDecision(file.id, true)">
                Aprobar
              </button>
              <button type="button" class="btn-decision rechazar"
                :class="{ active: $parent.decisionTmp[file.id] === false }" @click="$parent.setDecision(file.id, false)">
                Rechazar
              </button>
            </div>
          </div>
        </div>

        <div class="div-signature">
          <canvas id="draw-canvas" height="200" width="400" class="signature-pad"></canvas>
          <a class="clear-button" @click="$parent.clearCanvas">Limpiar</a>
          <div class="div-save">
            <button class="signature-button" @click="$parent.save" title="Guardar">Guardar</button>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>