/** Customizar el scroll */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

body {
  background: rgb(233, 233, 233, 0.5);
  margin: 0;
  padding: 0;
}

.content {
  background: #fff;
  padding: 2em;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 210mm;
  /* Ancho de una hoja A4 */
  height: 297mm;
  /* Alto de una hoja A4 */
  margin: 0 auto 2em auto;
  overflow: hidden;
  page-break-after: always;
}

p {
  text-align: justify !important;
}

.options-container {
  position: fixed;
  display: flex;
  gap: 25px;
  background: white;
  width: 100%;
  padding: 9px 20px 9px 20px;
  border-bottom: 1px solid #ccc;

  #search {
    width: 300px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    display: none;
    transition: 0.5s;
  }

  a {
    cursor: pointer;
  }

  i {
    color: white;
    font-size: 1.5em;
  }
}
