body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background-image: url("./background_image.jpg");
  position: relative;
  font-family: "system-ui";
  overflow: hidden;

  .status-indicator {
    user-select: none;
    position: fixed;
    top: 1rem;
    right: 1rem;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.171);
    color: white;
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 10px;

    > .status-indicator__circle {
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background-color: red;
    }
  }
}
